<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    body {
        text-align: center;
    }
    .form-input {
        margin-bottom: 100px;
        display: inline-block;
    }
    .input-holder{
        margin-bottom: 20px;
    }
    .header{
        background-color: aliceblue;
        width: 100%;
        float: left;margin-bottom: 50px;
    }
    .header h1{
        float:left;
    }
    .header form{
        margin-top:20px;
    }
</style>
<body>
<header class="header">
    <h1>KITCHEN SINK</h1>
    <form th:action="@{/}" th:method="POST" th:object="${request}">
        <input id="field" maxlength="100" placeholder="Search for a dish" th:field="*{field}" type="text">

        <input id="isHot" th:field="*{hot}" type="checkbox">
        <label for="isHot">All dishes</label>
        <input id="ings" th:field="*{ings}" type="checkbox">
        <label for="ings">Ingredients</label>
        <input id="btn-search" type="submit" value="search">
    </form>
</header>
    <div class="container" th:each="recipe:${recipes}">
        <div class="div" th:if="${recipe.getName()}">
        <a  th:href="@{/recipies/{id}(id=${recipe.getId()})}"><div class="item-container">
            <div class="image-container">
                <img class="item-image" height="100" th:src="${recipe.getFilepath()}" width="100">
            </div>
            <div class="name-container">
                <h2 th:text="${recipe.getName()}"></h2>
                <div class="gif" th:if="${recipe.isHot()}">
                    <img src="static/pictures/gifs/hot.gif" width="2%">
                </div>
            </div>
            <p th:text="${recipe.getDescription()}"></p>
        </div>
        </a>
        </div>
        <div class="div" th:unless="${recipe.getName()}">
            <p>No items found</p>
        </div>
    </div>
</body>
</html>