<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Add Your recipe</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        text-decoration: none;
    }
    body {
        text-align: center;
    }
    .form-input {
        margin-bottom: 100px;
        display: inline-block;
    }
    .input-holder{
        margin-bottom: 20px;
    }
    .header{
        background-color: aliceblue;
        width: 100%;
        float: left;margin-bottom: 50px;
    }
    .header h1{
        float:left;
    }
    .header form{
        margin-top:20px;
    }
</style>
<body>
<header class="header">
    <h1>KITCHEN SINK</h1>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</header>
<form th:action="@{/add}" th:method="POST" th:object="${recipe}" enctype="multipart/form-data" class="form-input">
    <div class="input-holder">
        <input type="text" th:field="*{name}" placeholder="Name" maxlength="100">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    </div>
    <div class="input-holder">
        <textarea name="description" id="description" cols="100" rows="10" placeholder="Description" th:field="*{description}" maxlength="1500"></textarea>
        <p id="error-text"></p>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" >Description Error</p>
    </div>
    <div class="input-holder">
        <input type="text" name="string-for-ingredients" id="ingredients-tab" placeholder="Ingredients(divide with ',')" maxlength="100">
        <p id="error-ing"></p>
        <p th:if="${#fields.hasErrors('ingredients')}" th:errors="*{ingredients}">Ingredients Error</p>
    </div>
    <div class="input-holder">
        <input type="file" name="image" accept="image/png,image/jpg" id="fileUpload">
    </div>
                                                            <p id="error-of-input-file" style="color: red"></p>
    <input type="submit" value="Add+" id="button-submit">
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript">
        $(function (){
            $('#fileUpload').val('');
            $('#fileUpload').change(function (event) {
                if(!event.target.files[0].name.endsWith('.png') && !event.target.files[0].name.endsWith('.jpg') ){
                    $('#error-of-input-file').text('Incorrect file type,try ".jpg" or ".png" ');
                    $('#fileUpload').val('');
                    $('#button-submit').attr('disabled','disabled');
                }else{
                    $('#error-of-input-file').text('');
                    $('#button-submit').removeAttr('disabled');
                }
                if(event.target.files[0].size>1048576){
                    $('#error-of-input-file').text('Size of a file is too big,try something else');
                    $('#fileUpload').val('');
                    $('#button-submit').attr('disabled','disabled');
                }else{
                    $('#error-of-input-file').text('');
                    $('#button-submit').removeAttr('disabled');
                }
            })
        })
        $(function () {
            if($("#ingredients-tab").val()===''){
                $('#button-submit').attr('disabled','disabled');
                $("#error-ing").text('Add at least one ingredient!');
            }else{
                $("#error-ing").text('');
                $('#button-submit').removeAttr('disabled');
            }
            if($("#description").val()===''){
                $("#error-text").text("Description must be!");
            }else if($("#description").text().size<=100){
                $("#error-text").text("Description must be bigger than 100 symbols!");
            }else{
                $("#error-text").text('');
            }
        })
    </script>
</form>
</body>
</html>